esquemaDb.dbml
/node_modules
package-lock.json
skills-lock.json

#front
front/vineyards/package-lock.json


#back
back/package-lock.json
back/node_modules
back/.env
back/scripts/backups/

# SDD local cache
.atl/
